<a href="https://colab.research.google.com/github/Dash400air/Bert_task/blob/main/STS_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STS-B** 2文が意味的にどれだけ類似しているかをスコア1~5で判別

# Setup

In [1]:
!pip install sentence-transformers

Collecting sentence-transformers
  Downloading sentence-transformers-2.0.0.tar.gz (85 kB)
     |████████████████████████████████| 85 kB 3.8 MB/s
Collecting transformers<5.0.0,>=4.6.0
  Downloading transformers-4.10.2-py3-none-any.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 18.3 MB/s
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (4.62.0)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.9.0+cu102)
Requirement already satisfied: torchvision in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.10.0+cu102)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.22.2.post1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.4.1)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (3.2.5)
Collecting sentencepiece
  Downloading sentencepiece-0.1.96-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 64.2 MB/s
Collecting huggingface-hub
  Downloading huggingface_hub-0.0.17-py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 2.1 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.6.0->sentence-transformers) (3.7.4.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (4.6.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2.23.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (21.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2019.12.20)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (3.0.12)
Collecting tokenizers<0.11,>=0.10.1
  Downloading tokenizers-0.10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 56.9 MB/s
Collecting pyyaml>=5.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 77.4 MB/s
Collecting sacremoses
  Downloading sacremoses-0.0.45-py3-none-any.whl (895 kB)
     |████████████████████████████████| 895 kB 74.9 MB/s
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->transformers<5.0.0,>=4.6.0->sentence-transformers) (2.4.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers<5.0.0,>=4.6.0->sentence-transformers) (3.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->sentence-transformers) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (3.0.4)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<5.0.0,>=4.6.0->sentence-transformers) (1.0.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<5.0.0,>=4.6.0->sentence-transformers) (7.1.2)
Requirement already satisfied: pillow>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision->sentence-transformers) (7.1.2)
Building wheels for collected packages: sentence-transformers
  Building wheel for sentence-transformers (setup.py) ... done
  Created wheel for sentence-transformers: filename=sentence_transformers-2.0.0-py3-none-any.whl size=126710 sha256=d324640295430b4b6dd788a7cd5365e1628447a600164e1909794af5d48d6fb4
  Stored in directory: /root/.cache/pip/wheels/d1/c1/0f/faafd427f705c4b012274ba60d9a91d75830306811e1355293
Successfully built sentence-transformers
Installing collected packages: tokenizers, sacremoses, pyyaml, huggingface-hub, transformers, sentencepiece, sentence-transformers
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
Successfully installed huggingface-hub-0.0.17 pyyaml-5.4.1 sacremoses-0.0.45 sentence-transformers-2.0.0 sentencepiece-0.1.96 tokenizers-0.10.3 transformers-4.10.2

In [2]:
import pandas as pd
import numpy as np

import torch

from sentence_transformers import SentenceTransformer

In [3]:
!wget "http://ixa2.si.ehu.es/stswiki/images/4/48/Stsbenchmark.tar.gz"

--2021-09-16 14:07:17--  http://ixa2.si.ehu.es/stswiki/images/4/48/Stsbenchmark.tar.gz
Resolving ixa2.si.ehu.es (ixa2.si.ehu.es)... 158.227.106.100
Connecting to ixa2.si.ehu.es (ixa2.si.ehu.es)|158.227.106.100|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: http://ixa2.si.ehu.eus/stswiki/images/4/48/Stsbenchmark.tar.gz [following]
--2021-09-16 14:07:17--  http://ixa2.si.ehu.eus/stswiki/images/4/48/Stsbenchmark.tar.gz
Resolving ixa2.si.ehu.eus (ixa2.si.ehu.eus)... 158.227.106.100
Connecting to ixa2.si.ehu.eus (ixa2.si.ehu.eus)|158.227.106.100|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 409630 (400K) [application/x-gzip]
Saving to: ‘Stsbenchmark.tar.gz’

Stsbenchmark.tar.gz 100%[===================>] 400.03K   373KB/s    in 1.1s

2021-09-16 14:07:19 (373 KB/s) - ‘Stsbenchmark.tar.gz’ saved [409630/409630]

In [4]:
!tar -xzvf "/content/Stsbenchmark.tar.gz"

stsbenchmark/
stsbenchmark/readme.txt
stsbenchmark/sts-test.csv
stsbenchmark/correlation.pl
stsbenchmark/LICENSE.txt
stsbenchmark/sts-dev.csv
stsbenchmark/sts-train.csv

In [5]:
train = pd.read_csv("/content/stsbenchmark/sts-train.csv", sep='\t', 
                    header=None, error_bad_lines=False, 
                    names=['type', 'source', 'ver', 'num', 'score', 's1', 's2'])
valid = pd.read_csv("/content/stsbenchmark/sts-dev.csv", sep='\t', 
                    header=None, error_bad_lines=False, 
                    names=['type', 'source', 'ver', 'num', 'score', 's1', 's2'])

# Preprocessing

In [6]:
train.head()

            type  ...                                                 s2
0  main-captions  ...                        An air plane is taking off.
1  main-captions  ...                          A man is playing a flute.
2  main-captions  ...  A man is spreading shredded cheese on an uncoo...
3  main-captions  ...                         Two men are playing chess.
4  main-captions  ...                 A man seated is playing the cello.

[5 rows x 7 columns]

In [7]:
valid.head()

            type  ...                                        s2
0  main-captions  ...      A man wearing a hard hat is dancing.
1  main-captions  ...                A child is riding a horse.
2  main-captions  ...  The man is feeding a mouse to the snake.
3  main-captions  ...                  A man is playing guitar.
4  main-captions  ...                 A man is playing a flute.

[5 rows x 7 columns]

## Vectorizing

In [11]:
model = SentenceTransformer('all-mpnet-base-v2')

In [12]:
def get_vectors(df):
    s1 = df['s1'].values
    s2 = df['s2'].values

    s1_vectors = model.encode(s1)
    s2_vectors = model.encode(s2)

    return s1_vectors, s2_vectors

In [13]:
train_s1_vectors, train_s2_vectors = get_vectors(train)
valid_s1_vectors, valid_s2_vectors = get_vectors(valid)

## Get Cosine Similarity

In [14]:
def get_cossimlarity(s1_vectors, s2_vectors):
    s1_tensor = torch.from_numpy(s1_vectors).clone()
    s2_tensor = torch.from_numpy(s2_vectors).clone()

    sims = []
    for s1_vec, s2_vec in zip(s1_tensor, s2_tensor):
        sim = torch.cosine_similarity(s1_vec, s2_vec, dim=0)
        sim = sim.detach().numpy().copy()
        sims.append(sim)
    return sims

In [15]:
train_sims = get_cossimlarity(train_s1_vectors, train_s2_vectors)
valid_sims = get_cossimlarity(valid_s1_vectors, valid_s2_vectors)

In [16]:
train['cos_similarity'] = train_sims
valid['cos_similarity'] = valid_sims

In [17]:
train.head()

            type  ... cos_similarity
0  main-captions  ...     0.95965767
1  main-captions  ...      0.8690923
2  main-captions  ...     0.87193775
3  main-captions  ...      0.8031405
4  main-captions  ...     0.90234494

[5 rows x 8 columns]

In [18]:
valid.head()

            type  ... cos_similarity
0  main-captions  ...      0.9967053
1  main-captions  ...      0.9509652
2  main-captions  ...     0.85433936
3  main-captions  ...     0.59489024
4  main-captions  ...     0.73564374

[5 rows x 8 columns]

# Linear Regression

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
X_train, X_valid = train['cos_similarity'].values.reshape(-1, 1), valid['cos_similarity'].values.reshape(-1, 1)
y_train, y_valid = train['score'].values.reshape(-1, 1), valid['score'].values.reshape(-1, 1)

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
pred = lr.predict(X_valid)

In [24]:
valid['prediction'] = pred

In [25]:
valid[['s1', 's2', 'score', 'prediction']].sample(10)

                                                     s1  ... prediction
1175  Selenski descended down the wall and used the ...  ...   2.987624
553    Two men are playing a game of Scrabble together.  ...   1.244518
231                         A baby is crawling happily.  ...   0.555896
334   A person is standing underneath an overpass ne...  ...   0.399342
109                        People are playing baseball.  ...   1.238011
1326  Indian police round up all five suspects in Mu...  ...   3.599162
536                     The man is in a deserted field.  ...   2.424569
100                       A woman is riding on a horse.  ...  -0.710159
1285     Romney leads rivals, not Obama, in fundraising  ...   1.291568
1325  Lebanon businesses strike in protest at politi...  ...   1.058821

[10 rows x 4 columns]

# Score

In [26]:
from sklearn.metrics import mean_squared_error
from scipy.stats import pearsonr, spearmanr

In [27]:
RMSE = np.sqrt(mean_squared_error(y_valid, pred))
print(RMSE)

0.7361655425935434

In [28]:
y_pred = pred.squeeze()

In [29]:
print(spearmanr(y_valid.squeeze(), y_pred))
print(pearsonr(y_valid.squeeze(), y_pred))

SpearmanrResult(correlation=0.8743784663328783, pvalue=0.0)
(0.8721285941029627, 0.0)

# Test

In [66]:
def examine(s1, s2, lr):
    df = pd.DataFrame({'s1': s1, 's2': s2})
    vec1, vec2 = get_vectors(df)
    sims = np.array(get_cossimlarity(vec1, vec2))

    pred = lr.predict(sims.reshape(-1, 1))

    for t1, t2, y in zip(s1, s2, pred.tolist()):
        if y[0] < 0:
            y = np.array([0.00])
        print('文1：', t1)
        print('文2：', t2)
        print('score：', round(*y, ndigits=3))
        print('----------------------')

In [67]:
s1 = ["He won the game.",
      "I hate apples",
      "Reading books is thought to be good for mental health.",
      "In a few year, people are able to travel moon without much money."]

s2 = ["He beated the rival.",
      "I love apples",
      "He always turns up late.",
      "Space travel will be affordable soon for any people."]

examine(s1, s2, lr)

文1： He won the game.
文2： He beated the rival.
score： 2.632
----------------------
文1： I hate apples
文2： I love apples
score： 3.657
----------------------
文1： Reading books is thought to be good for mental health.
文2： He always turns up late.
score： 0.0
----------------------
文1： In a few year, people are able to travel moon without much money.
文2： Space travel will be affordable soon for any people.
score： 2.788
----------------------